.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  padding: 24px 0;
  align-items: center;
}

.gallery-item {
  list-style: none;
}

/* .gallery-link {
} */

.gallery-image {
  width: 360px;
  height: 200px;
}
